
/* Home Page */

.main-banner-bg-new {
    background-color: #FFA500;
    height: 900px;
    position: relative;
}
.main-banner-bg-new::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    background-image: url(/src/assets/images/banner-bg.png);
    background-size: contain;
    z-index: 1;
    margin: auto;
    right: 0;
    bottom: 0;
    background-position: center bottom;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}

.banner-content-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    position: relative;
    z-index: 1;

}

.above-text-main {
    display: flex;
    margin-bottom: 10px;
    background: #fff;
    column-gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 6px 10px;
}

.banner-content-main h1 {
    font-size: 96px;
    line-height: 100px;
    margin-bottom: 30px;
    font-weight: 600;
}

.banner-content-main p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

.custom-btn-white,
.custom-btn-black {
    padding: 35px 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    -moz-column-gap: 14px;
    column-gap: 14px;
    border-radius: 50px;
    min-width: 258px;
}



.card-main-area {
    background: #FFEDCC;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3.title-text-main {
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 600;
}

.card-main-area p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
}

.card-main-area button {
    margin-bottom: 30px;
    padding: 6px 8px;
    height: auto;
    font-size: 16px;
    border-radius: 100px;
}

.card-main-area button svg {
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
}

.grid-columns-main-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.grid-columns-main-area .grid-cols-main-card:nth-child(1) {
   grid-column-start: 1;
   grid-column-end: -1;
}

.custom-text-class {
    font-size: 32px;
    width: 70%;
}

.custom-boxed-slider-main {
    width: 70%;
    margin: auto;    
    margin-bottom: 100px;
}
